/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


.md-article * {
  @apply py-1;
}

.md-article h1 {
  @apply text-black;
  @apply text-3xl;
  @apply pr-2;
  @apply border-b-2;
  @apply my-3;
}

.md-article a {
  @apply underline;
  @apply text-blue-600;
  @apply hover:text-blue-800;
  @apply visited:text-purple-600;
}
